body {
  padding: 0;
  text-align: center;
  font-family: "Verdana", sans-serif;
  background-color: #f0f8ff;
}

.btn {
  background: rgb(129, 31, 148);
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;

  &:focus,
  &:hover {
    background: #bcbcbc;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++this is game into page +++++++++++++++++++++++++++++++++++++++++++++++*/
#game-intro {
  padding: 20px 0px;
}
#instructor {
  font-size: 20px;
  font-family: "VT323", monospace;
}

#game-intro img {
  max-width: 1000px;
  display: block;
  margin: 0 auto 20px;
}
#game-intro p {
  font-size: 25px;
  font-family: "VT323", monospace;
}

/* this is game screen */
#hud {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "VT323", monospace;
  text-align: left;
  background: rgba(0, 0, 0, 0.4); /* translucent background */
  padding: 10px 15px;
  border-radius: 8px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 0px 20px;
  overflow: hidden;
  position: relative;
  background-size: auto;
  background-repeat: repeat-x;
  animation: slide-left 4s linear infinite;
  background-position: 0 0;
}

.level-1 {
  background-image: url("../Asset/image/newback2.png");
}

.level-2 {
  background-image: url("../Asset/image/newback4.png");
}

.level-3 {
  background-image: url("../Asset/image/newback3.png");
}

@keyframes slide-left {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -800px 0;
  }
}

/* this is endgame  */

#you-win {
  display: none;
  flex-direction: column;
  background: plum;
  justify-content: center;
  align-items: center;
}

#end-game {
  display: none;
  flex-direction: column;
  background: rgb(56, 29, 156);
  justify-content: center;
  align-items: center;
}
#end-game p {
  font-size: 32px;
  font-family: "VT323", monospace;
  color: whitesmoke;
}

#end-game h1 {
  font-size: 32px;
  font-family: "VT323", monospace;
  color: whitesmoke;
}

.logo-img {
  width: 350px;
}
#ending-img {
  max-width: 900px;
  display: block;
  margin: 0 auto 20px;
}

/* this is animation  */
.playerAnimation {
  animation: run 0.5s steps(6) infinite;
  background-image: url("../Asset/image/unicorn5.png");
  transform: translate(0%, -0%);
}
@keyframes run {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 800px, 0;
  }
}

.gotHitAnimation {
  animation: hit 0.5s steps(9) infinite;
  background-image: url("../Asset/image/githit.png");
  transform: translate(0%, -0%);
}
@keyframes hit {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 1067px, 0;
  }
}

.obstaAnimation {
  animation: jump 1s steps(9) infinite;
  background-image: url("../Asset/image/pinkmon2.png");
  transform: translate(0%, -0%);
}
@keyframes jump {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 800px, 0;
  }
}

.monFlowerAnimation {
  animation: crawl 0.5s steps(6) infinite;
  background-image: url("../Asset/image/monflower.png");
  transform: translate(0%, -0%);
}
@keyframes crawl {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 800px, 0;
  }
}
